* {
  --board-height: 15em;
  --board-width: 15em;
  --board-padding: 0.2em;
}

.board {
  width: var(--board-width);
  height: var(--board-height);
  background-color: #282c34;
  padding: var(--board-padding);
}

.board-row {
  display: flex;
  flex-direction: row;
}

.board-cell {
  background-color: #61dafb;
  min-width: calc((var(--board-width) / 5) - (var(--board-padding)*2));
  min-height: calc((var(--board-height) / 5) - (var(--board-padding)*2));
  margin: var(--board-padding);
  text-align: center;
}
