* {
  --board-height: 15em;
  --board-width: 15em;
  --board-padding: 0.2em;
  --board-cell-margin: 0.1em;
}

.main {
  padding: 1rem;
}

.game {
  display: flex;
  flex-direction: row;
}

.board {
  width: var(--board-width);
  height: var(--board-height);
  background-color: #282c34;
  padding: var(--board-padding);
}

.board-row {
  display: flex;
  flex-direction: row;
}

.board-cell {
  background-color: #61dafb;
  min-width: calc((var(--board-width) / 5) - (var(--board-cell-margin)*2));
  min-height: calc((var(--board-height) / 5) - (var(--board-cell-margin)*2));
  margin: var(--board-cell-margin);
  text-align: center;
}

.control {
  display: grid;
  margin-left: 1rem;
  width: 15rem;
  height: 15rem;
}

.control > button {
  width: 100%;
  height: 100%;
}

.control > .btn-up {
  grid-column: 2;
  grid-row: 1;
}

.control > .btn-left {
  grid-column: 1;
  grid-row: 2;
}

.control > .btn-right {
  grid-column: 3;
  grid-row: 2;
}

.control > .btn-down {
  grid-column: 2;
  grid-row: 3;
}
