.board {
  /* width: var(--board-width);
  height: var(--board/height); */
  background-color: #282c34;
  padding: var(--board-padding);
}

.board-row {
  display: flex;
  flex-direction: row;
}

.board-cell {
  background-color: #61dafb;
  min-width: calc(var(--board-cell-size) - var(--board-cell-margin)*2);
  min-height: calc(var(--board-cell-size) - var(--board-cell-margin)*2);
  margin: var(--board-cell-margin);
  text-align: center;
}
